.login-container {
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-input {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.login-input:focus {
    border-color: #4caf50;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #1A2531;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #071320;
}

.error-message {
    color: rgb(201, 62, 62);
}

